* {
    font-family: Verdana;
    box-sizing: border-box;
}
a:link {
    color: #ef9c00;
  }

html {
    background-color: #eacb92;
}
pic{
    position: absolute;
}

h0{
    font-size: 60px;
    font-weight: bold;
    padding-left: 8%;
    color: #ef9c00;
    text-shadow: 3px 3px black;
}

h7{
    font-size: 33px;
    font-weight: bold;
    padding-left: 8%;
    color: #000000;
    font-style: italic;
}

h8{
    font-weight: bold;
    color: rgb(121, 6, 6);
}

h1, h2 {
    font-size: xx-large;
}
header{
    float: left;
    width: 100%;
    height: 160px;
    border-bottom: 2px solid #ef9c00;
    padding-top: 10px;
    padding-left: 20px;
}

em{
    font-weight: bold;
}

body{
    background-color: white;
    border: 2px solid black;
}

.column{
    float: left;
    padding: 10px;
    height: 400px;
}
.content, .flex-container{
    font-size: x-large;
    padding: 10px;
    width: 67%;
    height: 40%;
}

.content{
    padding-top: 5px;
}

.flex-container {
    position:relative;
    top: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction:column;
    background-color: #eacb92;
    width: 600px;
 }

 .flex-container2 {
    position:relative;
    float: right;
    flex-wrap: wrap;
    display: flex;
    flex-direction:column;
    background-color: #eacb92;
    width: 570px;
    padding: 1%;
 }

main{
    position:relative;
    width: 100%;
    padding-left: 20px;
    float: left;
}

.main:after{
    content: "";
    display: table;
    clear: both;
}


footer{
    clear: both;
    border-top: 2px solid #ef9c00;
    text-align: right;
    padding-right: 10px;
}