.varela-round-regular {
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
}
  
header{
    font-family: "Varela Round", serif;
    font-size: 27px;
    font-weight: 700;
}
h2{
    font-family: "Varela Round", serif;
    font-size: medium;
    font-weight: 300;
    color: rgb(23, 185, 131)
}
section2{
    font-family: "Varela Round", serif;
    color: rgb(0, 110, 255);
}
section1, h1{
    font-family: "Varela Round", serif;
}